@model SearchViewModel
@{
    var term = string.Empty;

    if (Model != null && !string.IsNullOrEmpty(Model.Term) && Model.Term != "[No Search]")
    {
        term = Model.Term;
    }
}
<form class="form-inline" action="~/search/" method="get">
    <div class="input-group">
        <input value="@term" id="q" name="q" type="text" class="form-control" aria-label="Search" aria-describedby="search-button">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
        </div>
    </div>
</form>